name: Build & Deploy
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      SIGNING_REQUIRED: true
      POLYMERIZATION_SIGNING_KEY: ${{ secrets.POLYMERIZATION_SIGNING_KEY }}
      POLYMERIZATION_SIGNING_PASSWORD: ${{ secrets.POLYMERIZATION_SIGNING_PASSWORD }}
      ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.sonatypeUsername }}
      ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.sonatypePassword }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 15
        uses: actions/setup-java@v1
        with:
          java-version: 15
      - name: Build with Gradle
        run: ./gradlew build -s
      - name: Deploy with Gradle
        run: ./gradlew publishToSonatype -s
